.display {
  min-height: 80px;
  overflow-x: hidden;
}

.display-text {
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  .display-text {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1320px) {
  .display-text {
    font-size: 3.7rem;
  }
}